
/* nav {
  width: 100%;
  background: red;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 8px;
  font-size: 22px;
  margin-right: 20px;
} */

.contactless-section {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: .2;
  color:#0078ae;
  font-weight: bold;
}

.smart-order{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
  margin: 0 auto 1.875rem;
  padding: 0 .625rem;
}

.smart-order-heading {
  width: 17.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 1;
  height: inherit;
  margin-top: .5rem;
}

.smart-order-text {
  color:#006491 ;
  font-size: 1.50rem;
  margin-right: .625rem;
  word-break: break-word;
  align-self: center;
  text-align: center;
  padding: 0 .25em;
  text-transform: uppercase;
}

.smart-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.smart-order-ctas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.smart-order-container {
  display: inline-block;
  align-self: flex-start;
  position: relative;
}
.smart-order-cta {
  width: 11.25rem;
  padding-bottom: .875rem;
  padding-top: .875rem;
}

.btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  line-height: 1;
  font-size: 1.125rem;
  letter-spacing: .027em;
  text-transform: uppercase;
  background-color: #e31837;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: .1875rem;
  padding: .55556em .55556em .5em;
  cursor: pointer;
  transition: box-shadow .3s linear;
  -webkit-font-smoothing: antialiased;
}

.smart-order-or {
  color: #888;
  font-size: 1.375rem;
  padding: 0 .75rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: center;
  letter-spacing: .05rem;
  font-weight: bold;
}


.store-header {
  font-size: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.home-image {
 margin-top: 100px;
}

.shop-btn {
  width: 150px;
  display: inline-block;
  position: absolute;
  left:45%;
  top:30%;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: #f10000;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form-image{
  width:100%;
  height: 70vh;
  object-fit: cover;
}

h3{
  font-size: 40px;
  color: white;
}

.inputs {
  max-width: 700px;
  background-color: red;
  padding: 60px;
}

.form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
}

label{
  color: white;
  padding: 20px 0;
}

.row-col{
  display: flex;
  flex-direction: row;
}

.submit button{
  width: 150px;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: green;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}